<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <title>DankMemesAPI</title>
</head>
</html>
<body>
<h1>Welcome to DankMemesAPI.</h1>
For usage, please refer to the following endpoints:
<p><a href="/dankmemes">/dankmemes - GET - Retrieve all dank memes</a></p>
<p><a href=/dankmemes/0>/dankmemes/{id}</a>  - GET - Retrieve dank meme by id</p>
<p><a href="/dankmemes/random">/random</a> - GET - Retrieve a random dank meme</p>
<p><a href="/dankmemes">/dankmemes</a> - POST - Create a new meme</p>
<p><a hrefe="/dankmemes/{id}">/dankmemes/{id}</a>  - PUT - Overwrites a meme based on the id</p>
<p><a hrefe="/dankmemes/{id}">/dankmemes/{id}</a>  - PATCH - Changes an attribute of a meme based on the id</p>
<p><a hrefe="/dankmemes/{id}">/dankmemes/{id}</a>  - DELETE - Deletes a meme based on the id</p>
</body>