<!DOCTYPE html>
<html lang="en">
<head>
    <title>DankMemesAPI</title>
</head>
</html>
<body>
<h1>Welcome to DankMemesAPI.</h1>
For usage, please refer to the following endpoints:
<p><a href="/dankmemes">/dankmemes - GET - Retrieve all dank memes</a></p>
<p><a href=/dankmemes/0>/dankmemes/{id}</a>  - GET - Retrieve dank meme by id</p>
<p><a href="/random">/random</a> - GET - Retrieve a random dank meme</p>
<p>/dankmemes       - POST - Not yet implemented</p>
<p>/dankmemes/{id}  - POST - Not yet implemented</p>
<p>/dankmemes/{id}  - PUT - Not yet implemented</p>
<p>/dankmemes/{id}  - PATCH - Not yet implemented</p>
<p>/dankmemes/{id}  - DELETE - Not yet implemented</p>
</body>